ion-toolbar {
    color: var(--my-color-text);
}
ion-datetime {
    color: var(--my-color-text);
}
.textColor{
    color: var(--my-color-text);
}
ion-col {
    color: #aaaaaa;
    text-align: center;
    font-size: 2.5rem;
}
