<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">
      首页
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- pic or other things -->
  <div>
    <img src="assets/careOlder.png" alt="careOlder">
  </div>

  <!-- 日常工作 -->
  <div style="padding-top:20px;">
    <div style="margin-left: 10px;border-bottom: 2px dashed #0cd1e8;">
      <ion-badge color="secondary" style="padding: 5px;">
        <span style="font-size: 1.2em;">日常工作</span> 
      </ion-badge>

    </div>
    <ion-grid style="color: #666666;padding-top: 10px;">
      <ion-row>
        <ion-col size="4" style="text-align: center;margin-bottom: 10px;" routerLink="/careof-service">
          <svg class="icon" aria-hidden="true" style="font-size: 3rem;">
              <use xlink:href="#iconfuwu"></use>
          </svg>
          <br>
          <span style="color: #aaaaaa;font-size: 1.1rem;">照护服务</span>
        </ion-col>
      
        <ion-col size="4" style="text-align: center;margin-bottom: 10px;" routerLink="/careof-overview">
          <svg class="icon" aria-hidden="true" style="font-size: 3rem;">
              <use xlink:href="#iconzonglan-px"></use>
          </svg>
          <br>
          <span style="color: #aaaaaa;font-size: 1.1rem;">服务总览</span>
        </ion-col>
      
        <ion-col size="4" style="text-align: center;margin-bottom: 10px;">
          <svg class="icon" aria-hidden="true" style="font-size: 3rem;">
              <use xlink:href="#iconfuyaoyicongxing"></use>
          </svg>
          <br>
          <span style="color: #aaaaaa;font-size: 1.1rem;">协助服药</span>
        </ion-col>
      
        <ion-col size="4" style="text-align: center;margin-bottom: 10px;">
          <svg class="icon" aria-hidden="true" style="font-size: 3rem;">
              <use xlink:href="#icon-paiban"></use>
          </svg>
          <br>
          <span style="color: #aaaaaa;font-size: 1.1rem;">考勤排班</span>
        </ion-col>
      
        <ion-col size="4" style="text-align: center;margin-bottom: 10px;">
          <svg class="icon" aria-hidden="true" style="font-size: 3rem;">
              <use xlink:href="#iconrizhi1"></use>
          </svg>
          <br>
          <span style="color: #aaaaaa;font-size: 1.1rem;">交接日志</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- 安全巡检 -->
  <div></div>

  <!-- 物品发放 -->
  <div></div>

</ion-content>
