ion-toolbar {
    color: var(--my-color-text)
}
ion-segment-button {
    --color: #aaa;
    --indicator-color-checked: #22bed1;
    --color-checked: #22bed1;;
}
ion-card-title {
    color: var(--my-color-text)
}
